<article>
  <div class="weather-info">
    <div class="current-weather">
      <div class="temp">
        <span class="location">Kyiv, UA</span>
        <div class="temp-values">
          <div class="current-temp">-3</div>
          <div class="min-max__temp">
            <div class="min-max__temps">
              <div class="min-temp">min</div>
              <div class="temps"> -2°</div>
            </div>
            <div class="line"></div>
            <div class="min-max__temps">
              <div class="max-temp">max</div>
              <div class="temps"> 1°</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!--forecast-buttons section-->
  <div class="forecast-buttons">
    <a href="../index.html"><button class="forecast-buttons__button" id="today-btn">TODAY</button></a>
    <a href="../pag-2.html"><button class="forecast-buttons__button" id="five-days-btn">5 DAYS</button></a>
  </div>
</article>
