<article class="city-input">
    <div class="city-input__field-container">
        <svg class="location">
            <use href="./city-input-icons.svg#icon-location"></use>
          </svg>
        <input class="city-input__field" id="city-input" placeholder="Enter the city">
        <svg class="star">
            <use href="./city-input-icons.svg#icon-grade"></use>
          </svg>
    </div>
    <div class="viewed-city__container">
        <svg class="viewed-city__prev hidden"><use href="./city-input-icons.svg#icon-chevron"></use>
        </svg>
        <div class="viewed-city__favorites-container">
        </div>
        <svg class="viewed-city__next hidden"><use href="./city-input-icons.svg#icon-chevron"></use>
        </svg>
    </div>
</article>
