<article class="city-input">
    <div class="city-input__field-container">
        <svg class="location button"><use href="../../assets/img/svg/city-input-icons.svg#icon-location"></use></svg>
        <input class="city-input__field" placeholder="Enter the city">
        <svg class="location button"><use href="../../assets/img/svg/city-input-icons.svg#icon-location"></use></svg>
    </div>
    <div class="city-input__viewed-city-container">
        <button class="viewed-city" type="button">Lorem.</button>
    </div>
</article>