<article>
  <link href="../css/current-date.css"/>
    <div class="date-container">
        <span class="day">--</span> <sup>th</sup>
        <span class="weekday">--</span> 
        <span class="month">--</span>
        <div class="verticalLine"></div>
        <div class="time-container">
            <span class="time">--:--:--</span>
          </div>
          <div class="sun-container">
            <svg class="sunrise-svg"></svg>
                <use href="../public/current-date.svg#icon-sunrise-2" /></svg
            >
            <span class="sunrise"> --:--</span>
            <div class="verticalLine1"></div>
            <svg class="sunset-svg"></svg>
                <use href="../public/current-date.svg#icon-sunset-2" /></svg
            >
            <span class="sunset"> --:--</span>
          </div>
      </div>
</article>