<select id="citySelect">
    <option value="Kyiv">Kyiv</option>
    <option value="Paris">Paris</option>
    <option value="Vinnytsia">Vinnytsia</option>
    <option value="Warsaw">Warsaw</option>
  </select>
   
  <div class="button-container">
    <button class="toggleChartBtn">
      <span>Show Chart</span>
      <svg class="icon">
        <use href="/assets/img/svg/chart-arrows.svg#icon-circle-up"></use>
      </svg>
     
    </button>
    <div class="chart-container">
      
      <canvas class="weatherChart"></canvas>
      
    </div>
  </div>

  <!-- <div class="chart-container">
    <h2>Weather Chart</h2>
    <canvas class="weatherChart"></canvas>
    
  </div> -->
  
  
  
  