.background{
    width: 100vw;
    overflow-x: hidden;
}
.svg1 {
  width: 10rem;
  height: 10rem;
  border: 4px solid #ffffff26;
  border-radius: 30px;
  transform: rotate(55deg);
  position: absolute;
  top: 100px;
  left: -25px;
}

.svg2 {
  width: 10rem;
  height: 13rem;
  border: 4px solid #ffffff26;
  border-radius: 30px;
  transform: rotate(55deg);
  top: -150px;
  position: absolute;
  right: 0;
}

@media (max-width: 768px) {
  .svg1 {
    width: 10rem;
    height: 10rem;
    transform: rotate(55deg);
    top: 0;
    left: -100px;
  }
  .svg2 {
    width: 9rem;
    height: 9rem;
    transform: rotate(60deg);
    top: -15px;
  }
}

@media (min-width: 1280px) {
  .svg1 {
    width: 10rem;
    height: 10rem;
    transform: rotate(65deg);
    top: -20px;
    left: -25px;
  }

  .svg2 {
    width: 10rem;
    height: 10rem;
    border-radius: 30px;
    transform: rotate(55deg);
    top: 0;
  }
}
