.container{
    width: 20rem;
    max-width: 100%;

}
.forecast-buttons {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    padding: 0.625rem;
    position: absolute;
    top: 11.625rem;
    right: 50%;
    transform: translate(50%);
}
.forecast-buttons__button {
    width: 7.875rem;
    line-height: 1.688rem;
    padding: 0rem 0.75rem;
    border: none;
    background-color: var(--color-white-50);
    color: var(--color-black);
    border-radius: 1.25rem;
    cursor: pointer;
    font-weight: bold;
}
.forecast-buttons button:hover {
    background-color: var(--color-white);
}
.selected{
    background-color: var(--color-white);
}

@media screen and (min-width: 768px) {
    .forecast-buttons{
        top:25.813rem;
    }
}

@media screen and (min-width: 1280px) {
    .forecast-buttons{
        top:25.75rem;
        right: 6.875rem;
        transform: translate(0);
    }
}