.container{
    width: 20rem;
    max-width: 100%;

}
.weather-info {
    background-color: rgba(16, 33, 54, 1);
    padding: 1.25rem;
    margin-bottom: 1.25rem;
    text-align: center;
    width: 17.5rem;
    height: 12.063rem;
    top: 10.25rem;
    left: 1.25rem;
    gap: 0rem;
    border-radius: 2.125rem 2.125rem;
    opacity: 0rem;
    position: absolute;
}
.location {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2rem;
    text-align: center;
    color: #767D85;
}

.temps {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2rem;
    text-align: center;
    color: #FFFFFF;
}

.current-temp {
    font-size: 2.813rem;
    font-weight: 300;
    line-height: 3.375rem;
    letter-spacing: 0.04em;
    text-align: left;
    color: #f0f0f0;
}

.weather-info .temp {
    font-size: 3rem;
}

.weather-info .location {
    font-size: 1.125rem;
}
.temp-container{
    display: flex;
    flex-flow: row;
}
.min-temp .max-temp {
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.35rem;
    color: #767D85;
}
.forecast-buttons {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    padding: 0.625rem;
    position: absolute;
    top: 24.313rem;
    right: 50%;
    transform: translate(50%);
}
.forecast-buttons__button {
    width: 7.875rem;
    line-height: 1.688rem;
    padding: 0rem 0.75rem;
    border: none;
    background-color: var(--color-white-50);
    color: var(--color-black);
    border-radius: 1.25rem;
    cursor: pointer;
    font-weight: bold;
}
.forecast-buttons__button:hover {
    background-color: #ffffff;
}

.selected{
    background-color: var(--color-white);
}

/*media*/
@media (min-width: 768px){
.forecast-buttons{
   top: 579px;
}
}
@media (min-width: 1280px){
    .forecast-buttons{
        top: 573px;
        right: 16px;
    }
     .forecast-buttons__button{
        width: 182px;
        height: 27px;
     }
}