:root{
    --color-main: #27384A;
    --color-main-transparent-50: #10213680;
    --color-main-transparent-80: #102136CC;
    --color-secondary:#FF6B09;
    --color-text-main:#F1F2F7;
    --color-white: #ffffff;
    --color-black: #000000;
}