@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('./colors.css');
@import url('./city-input.css');
@import url('./weather-cards+more-info.css');
@import url('./buttons-pag-2.css');
@import url('./showchartScroll.css');
@import url('./5days.css');

*{
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body{
    background-image:linear-gradient(0.56deg, #000000 -13.48%, rgba(0, 0, 0, 0) 78.75%),url('/Слой-2 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    height: 100vh;
}

.test{
  display: flex;
  flex-flow: column nowrap;
  gap: 50px;
}

.weather-info{
  display: none;
}

.page-2__position-1{
  margin-top: 200px;
}
