
.chart-container {
  background-color: rgba(16, 33, 54, 0.8);/* Dark transparent background */
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Padding around the chart */
  box-shadow: 0 4px 8px rgba(16, 33, 54, 0.8); /* Shadow for better appearance */
  max-width: 800px;
  margin: 20px auto;
  color: white;
}
  
  .weatherChart {
    width: 100% !important;
    height: 400px !important;
  }
  
  /* Style for centering the button */

  .button-container {
    display: flex;
    justify-content: center; 
    align-items: center;     
    
  }
  
  .toggleChartBtn {
    background-color: transparent; 
    color: #FF6B09; /* Orange text*/
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: Arial, sans-serif;
    border: none;
    cursor: pointer;
  }
  
  .icon {
    width: 28px;
    height: 28px;
    border-radius: 100%;
    fill: #FF6B09;
    stroke: black;
    background-color: rgb(166, 160, 160);
  }
  
  .toggleChartBtn:hover { 
    text-decoration: underline;
  }
  
 

  
  
  
  /* Stiluri pentru tablete */
@media (max-width: 768px) {
    .chart-container {
      max-width: 90%;
      padding: 15px;
    }
  
    .weatherChart {
      height: 300px;
    }
  
    .toggleChartBtn {
      padding: 8px 16px;
      font-size: 14px;
    }
  }
  
  /* Stiluri pentru mobile */
  @media (max-width: 480px) {
    .chart-container {
      max-width: 95%;
      padding: 10px;
    }
  
    .weatherChart {
      height: 250px;
    }
  
    .toggleChartBtn {
      padding: 6px 12px;
      font-size: 12px;
    }
  }
  